# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# !STARTERCONF Change to true if you want to log data
# Ideally, don't add it to production deployment envs
NEXT_PUBLIC_SHOW_LOGGER="false"

# !STARTERCONF Flow required info to connect with a wallet
EXT_PUBLIC_APP_NAME=FANBET
NEXT_PUBLIC_FLOW_ENV=testnet
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=c2ea6ae44b95d2717b617c9a8c0cc5a4